<ion-view title="rPortal" xmlns="http://www.w3.org/1999/html">
    <ion-content class="has-header">
        <div class="logo-header">
            <img src="img/logo.png" width="150">

            <div class="row responsive-sm">
                <!--<div class="col">
                    <button class="button button-outline button-royal" style="width: 250px">Accedi</button>
                </div>
                <div class="col">
                    <button class="button button-outline button-royal"style="width: 250px">Registrati</button>
                </div>-->

                <div class="col">
                    <a href="#/app/viewmenu"> <button class="button button-block button-energized">
                        <i class="ion-pizza"></i>
                        Visualizza menù
                    </button>
                    </a>
                </div>

                <div class="col"></div>
                <button class="button button-block button-assertive" ng-click="fbLogin()">
                    <i class="ion-social-googleplus"></i>
                    Login with Google+
                </button>
                </div>

                <div class="col"></div>
                    <button class="button button-block button-positive" ng-click="fbLogin()">
                        <i class="ion-social-facebook"></i>
                        Login with Facebook
                    </button>
                </div>

                <div class="col"></div>
                <button class="button button-block button-calm" ng-click="fbLogin()">
                    <i class="ion-social-twitter"></i>
                    Login with Twitter
                </button>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
